In [1]:
import os
import pandas as pd

/var/folders/yp/jdzdnmvx69n8p5szmm_1rbhc0000gp/T/ipykernel_84359/3571106454.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# Creating Train, Test, Val Dataframe

In [2]:
files = os.listdir('images')

In [3]:
files.__len__()

7393

In [4]:
# Filter out image files.
image_files = [file for file in files if file.endswith(('.png', '.jpg', '.jpeg'))]

In [5]:
image_files.__len__()

7390

In [6]:
# Create dataframe of image names
df = pd.DataFrame(image_files, columns=['ImageName'])
df.head(10)

              ImageName
0  Egyptian_Mau_167.jpg
1            pug_52.jpg
2  basset_hound_112.jpg
3       Siamese_193.jpg
4     shiba_inu_122.jpg
5        Siamese_53.jpg
6        Birman_167.jpg
7      leonberger_6.jpg
8        Siamese_47.jpg
9     shiba_inu_136.jpg

In [7]:
from sklearn.model_selection import train_test_split

# Splitting data into train,test = 90,10
train_df, temp_df = train_test_split(df, test_size=0.2, random_state=42)
val_df, test_df = train_test_split(temp_df, test_size=0.5, random_state=42)


print(f"Training set size: {len(train_df)}")
print(f"Test set size: {len(test_df)}")
print(f"Val set size: {len(val_df)}")

Training set size: 5912
Test set size: 739
Val set size: 739

In [8]:
train_df

                      ImageName
6279  miniature_pinscher_45.jpg
2251       newfoundland_141.jpg
3149         pomeranian_106.jpg
6990            Ragdoll_185.jpg
3882               Bombay_8.jpg
...                         ...
5191             Ragdoll_76.jpg
5226         Maine_Coon_144.jpg
5390         leonberger_171.jpg
860          pomeranian_148.jpg
7270         Abyssinian_176.jpg

[5912 rows x 1 columns]

In [9]:
test_df

                              ImageName
1600          yorkshire_terrier_139.jpg
1221                     Sphynx_130.jpg
6498               Egyptian_Mau_197.jpg
263               japanese_chin_150.jpg
4801          yorkshire_terrier_179.jpg
...                                 ...
5119                    keeshond_70.jpg
6176                basset_hound_61.jpg
2578                     Ragdoll_78.jpg
2845  american_pit_bull_terrier_117.jpg
5965                 pomeranian_197.jpg

[739 rows x 1 columns]

In [10]:
val_df

                           ImageName
5164                  Bengal_153.jpg
6634                  Persian_46.jpg
4552                  Birman_127.jpg
1535  english_cocker_spaniel_186.jpg
478                   Siamese_50.jpg
...                              ...
1188                     boxer_2.jpg
5972              Abyssinian_213.jpg
5519                 Siamese_159.jpg
5002             Egyptian_Mau_99.jpg
1452                 Ragdoll_198.jpg

[739 rows x 1 columns]

In [11]:
# Save the files.
train_df.to_csv('train.csv',index=False)
test_df.to_csv('test.csv',index=False)
val_df.to_csv('val.csv',index=False)

In [11]:
import torch
import trainer
import models

def load_just_model(path,type,device='cpu'):
    # Load the state.
    load_dict = torch.load(path,map_location=torch.device(device))
    # Load the args 
    args = load_dict['args']
    args.device = device
    # Create new model object.
    model = type(args)
    # Load model state dict.
    model.load_state_dict(load_dict['model_state_dict'])
    return model

In [17]:
model = load_just_model('SRResNet_MSE/epoch_10/model.pt',models.SRResNet)

In [18]:
model.net

Sequential(
  (0): Conv2d(3, 64, kernel_size=(5, 5), stride=(1, 1), padding=(2, 2))
  (1): Sequential(
    (0): ResidualBlock(
      (conv1): Conv2d(64, 32, kernel_size=(1, 1), stride=(1, 1))
      (conv2): Conv2d(32, 64, kernel_size=(1, 1), stride=(1, 1))
      (relu): ReLU(inplace=True)
    )
    (1): ResidualBlock(
      (conv1): Conv2d(64, 32, kernel_size=(1, 1), stride=(1, 1))
      (conv2): Conv2d(32, 64, kernel_size=(1, 1), stride=(1, 1))
      (relu): ReLU(inplace=True)
    )
    (2): ResidualBlock(
      (conv1): Conv2d(64, 32, kernel_size=(1, 1), stride=(1, 1))
      (conv2): Conv2d(32, 64, kernel_size=(1, 1), stride=(1, 1))
      (relu): ReLU(inplace=True)
    )
    (3): ResidualBlock(
      (conv1): Conv2d(64, 32, kernel_size=(1, 1), stride=(1, 1))
      (conv2): Conv2d(32, 64, kernel_size=(1, 1), stride=(1, 1))
      (relu): ReLU(inplace=True)
    )
  )
  (2): Conv2d(64, 32, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1))
  (3): Sequential(
    (0): SubPixelConv(
      (conv): Conv2d(32, 128, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1))
      (relu): ReLU(inplace=True)
      (pixle_shuffle): PixelShuffle(upscale_factor=2)
    )
  )
  (4): Conv2d(32, 3, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1))
  (5): Sigmoid()
)